rasa==1.10.11
rasa[convert]
git+https://github.com/mit-nlp/MITIE.git
rasa[mitie]
rasa[transformers]
rasa[spacy]
peewee==3.13.3
tqdm==4.45.0
requests==2.23.0
beautifulsoup4==4.9.1
python-dotenv==0.13.0
fb-duckling==1.0